/* a minimal style sheet for example */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav {
    float: left;
    width: 30%;
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border: #ccc solid 1px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

article {
    float: right;
    width: 70%;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}